* {
  box-sizing: border-box;
}
body {
  background: url("./bg-dark.svg");
}

.logo {
  filter: brightness(1) invert(1);
}

nav {
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  /* border: solid rgba(255, 255, 255, 0.3); */
}

div a {
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
  margin: 0 20px;
  border-radius: 80px;
}

div button {
  background-color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 80px;
  border-style: hidden;
}
div button:hover {
  /* background-color: white; */
  color: grey;
  cursor: pointer;
}

.transparent {
  background-color: black;
  color: white;
}

section a {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  padding: 8px 16px 8px 8px;
  gap: 10px;
  text-decoration: none;
  /* border: 1px solid gray; */
  border-radius: 50px;

  width: fit-content;
  margin: 30px auto;
  background-color: #2d3748;
  color: #a0aec0;
}

#span {
  padding: 5px 10px; /*Space inside the 'New' box */
  border-radius: 50px;
  font-size: 12px;
  background-color: rgb(126, 187, 126);
  font-weight: bold;
  font-size: medium;
  color: white;
}
section a p {
  /* padding: 10px; */
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}

#description {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20px;
  color: white;
  line-height: 30px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 5px;
  /* height: 50px; */
  width: 100%;
  max-width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  /* gap: 30px; */
}
.form [type="email"] {
  flex-grow: 1;
  border: none;
  background: transparent;
  /* padding: 0px 10px; */
}

input[type="email"]:focus {
  outline: none;
}

button.submit {
  background: white;
  color: black;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  font-size: medium;
  cursor: pointer;
  /* No margin needed; flexbox gap is enough */
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}
